사용예시

권장 작업 절차
데이터를 안전하게 보존하면서도, 사용가능한 자원을 효율적으로 이용하기 위해 다음의 절차를 권장합니다.

1. 코드 작업을 위해 GPU 자원 없이 팟을 생성해주세요. 작업물은 지속볼륨에 저장되어야 합니다. 지속형볼륨 예시를 참고 바랍니다.
2. 코드를 테스트하거나 디버깅하기 위해 GPU 셸을 이용해주세요. GPU 셸 예시를 참고 바랍니다. 다만, 사용자의 지속볼륨에 마운트되어야 합니다.
GPU를 적극 사용중이지 않은 경우, 가급적 GPU 셸 사용시간을 제한해주세요.
3. 코드가 준비되면 GPU 작업으로 구동해주세요. 작업완료 후 반드시 자동 종료되어야 합니다.

간단한 임시 셸
셸을 종료하면 셸을 비롯한 파일시스템 내의 모든 파일들이 즉시 삭제됩니다. 데이터가 보존되지 않습니다.

간단한 지속 셸
셸을 재시작하면 데이터가 보존되지 않습니다. 데이터를 보존하려면 지속볼륨 예시를 참고해 주세요. 지속볼륨을 사용하지 않아서 발생한 데이터 소실은 복구할 수 없습니다.

지속 볼륨
재시작 후에도 데이터를 보존해야 할 경우, 지속 볼륨을 사용해주세요.
위 예시의 경우, 100GB의 볼륨을 /data 경로에 마운트했습니다. 지속볼륨을 삭제하면 사용자 데이터가 완전히 소실됩니다.

GPU 셸
GPU를 사용가능한 셸을 생성하려면 아래 예시와 같이 해주세요.
위 예시의 경우, 네 장의 GPU가 장착된 팟을 생성했습니다. 이 GPU는 팟이 구동되는 동안 독점적으로 할당됩니다.

할당받은 GPU가 장기간 아무 계산도 수행하지 않을 경우, 해당 팟은 경고 없이 종료됩니다.
또한 해당 사용자에 대해 영구적인 접근 제한이 있을 수 있습니다. 본 동아리는 GPU 사용을 적극적으로 관찰하여 남용을 적발해낼 것입니다.
이 경고사항은 보장 할당량이 적용된 CPU 및 메모리 자원에 대해서도 동일합니다.

GPU 작업
GPU 셸과 유사하지만, 프로세스가 종료된 후 셸(및 GPU 자원)이 해지됩니다.

restartPolicy: Never 옵션과 바뀐 명령어를 확인해주세요.

저장공간의 절약을 위해 로그가 편집될 수 있고, 팟을 삭제하면 영구히 삭제됩니다. 로그를 보존해야 할 경우, 지속 볼륨에 저장할 것을 권장드립니다.

완료된 팟은 자원을 사용하지 않습니다. 하지만 네임스페이스가 어질러지거나 이름이 중복되는걸 방지하기 위해서는 불필요한 팟을 삭제하는 것이 좋습니다.

