apiVersion: v1
kind: Config
clusters:
  - name: snucse-sommelier
    cluster:
      certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJpVENDQVMrZ0F3SUJBZ0lRV1VZaFBwbm1wQ3NHQzY1WmNNK2pHakFLQmdncWhrak9QUVFEQWpBVk1STXcKRVFZRFZRUUtFd3ByZFdKbGNtNWxkR1Z6TUI0WERUSTBNRE13T1RBNU16ZzFNMW9YRFRNME1ETXdOekE1TXpnMQpNMW93RlRFVE1CRUdBMVVFQ2hNS2EzVmlaWEp1WlhSbGN6QlpNQk1HQnlxR1NNNDlBZ0VHQ0NxR1NNNDlBd0VICkEwSUFCQWxsWEFGaG5DMDZxbFNzZzVsY1lMUXNKQjNDMnpqZnAveWFPYVliUjVHL1RzRWNmVlR3emRXVnVPREMKUGlOR2RDZCs2dzBQMmhJUGh1ZHR1RVhqSmJlallUQmZNQTRHQTFVZER3RUIvd1FFQXdJQ2hEQWRCZ05WSFNVRQpGakFVQmdnckJnRUZCUWNEQVFZSUt3WUJCUVVIQXdJd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFCkZnUVU3QkNsNVZ5S0xHMGhUSm54ajZ3Szg3YUcyVEV3Q2dZSUtvWkl6ajBFQXdJRFNBQXdSUUlnS253WXVGYkUKOGM1UkRUNk10RVRDQncvek5QWDhJNGxiZkIxQWFScklxNk1DSVFEOWFuRUNlaUVkOWVFYjlCS0p4R0FCb3Y2MApuL3NqRCtQUUtzRkpPczYrUVE9PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
      server: https://sommelier.snucse.org:6444
users:
  - name: snucse-id
    user:
      exec:
        apiVersion: client.authentication.k8s.io/v1beta1
        command: kubectl
        args:
          - oidc-login
          - get-token
          - --oidc-issuer-url=https://id.snucse.org/o
          - --oidc-client-id=kubernetes-oidc
          - --oidc-client-secret=kubernetes-oidc
          - --oidc-extra-scope=email
          - --oidc-extra-scope=groups
          - --oidc-use-pkce
contexts:
  - name: snucse-sommelier-{{ . }}
    context:
      cluster: snucse-sommelier
      user: snucse-id
      namespace: ws-{{ . }}
current-context: snucse-sommelier-{{ . }}
